{% extends "base.html" %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
                {% if user.profile_pic %}
              <img src="{{ user.profile_pic.url }}" class="rounded-circle" width="150">
                {% else %}
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="..." class="rounded-circle" width="150">
                {% endif %}
              <div class="mt-3">
                <h4>{{ user.username }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Username</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ user.username }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ user.email }}
              </div>
            </div>
            {% if request.user.id == user.id %}
            <hr>  
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-info " href="{% url 'user:update_profile' user.id %}">Изменить</a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        <h2 class="mb-4">Мои курсы</h2>
        <div class="row gutters-sm">
          {% comment %} 
          Выводим список курсов, на которые записан пользователь.
          {% endcomment %}  
          {% if user.group_student.all %}
            {% for product in user.group_student.all %}
            <div class="col-sm-6 mb-3">
              <div class="card h-100">
                <div class="card-body">
                  <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"></i><a href='{% url "product:product_detail" product.product.slug %}'>{{ product.product.product_name }}</a></h6>
                  <img src="{{ product.product.product_cover.url }}" class="card-img-top" width="300px" alt="">
                  {% if product.product.is_published %}
                    <a class='text-center btn btn-primary mt-3' href='{% url "product:lesson" product.product.slug %}'>Перейти к урокам</a>
                  {% else %}
                  <p>Курс ещё не опубликован</p>
                  {% endif %}
                </div>
              </div>
            </div>  
          {% endfor %}
        {% else %}
          <h2>Вы не записаны ни на один курс</h2> 
        {% endif %}    
        </div>
      </div>
    </div>

  </div>
{% endblock %}
